<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>机票预订单</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-plus@2.8.8/dist/index.css"
    />
    <script src="https://unpkg.com/vue@3.4.19"></script>
    <script src="https://unpkg.com/element-plus@2.8.8"></script>
    <script src="https://unpkg.com/element-plus@2.8.8/dist/locale/zh-cn.js"></script>
    <script src="./static/dayjs@1.11.10/dayjs.min.js"></script>
  </head>
  <body>
    <div id="root">
      <div style="max-width: 800px; margin: 0 auto">
        <el-form
          ref="formRef"
          :model="formData"
          :rules="rules"
          label-width="auto"
        >
          <el-row :gutter="16">
            <el-col :span="12">
              <el-form-item label="姓名" prop="name">
                <el-input v-model="formData.name" placeholder="请输入" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="护照号" prop="passport_number">
                <el-input v-model="formData.passport_number" placeholder="输入后会使用IATA出机票" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="16">
            <el-col :span="12">
              <el-form-item label="出发-到达" prop="route">
                <el-select-v2
                  v-model="formData.route"
                  placeholder="请选择"
                  :options="ROUTES"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="16">
            <el-col :span="12">
              <el-form-item label="类型" prop="type">
                <el-radio-group v-model="formData.type">
                  <el-radio value="oneway">单程</el-radio>
                  <el-radio value="round">往返</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="16">
            <el-col :span="12">
              <el-form-item label="出发日期" prop="departure_date">
                <el-date-picker
                  v-model="formData.departure_date"
                  type="date"
                  placeholder="请选择"
                  :disabled-date="disabledDate"
                  value-format="YYYY-MM-DD"
                  style="width: 100%"
                  @change="() => formData.back_date = ''"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="formData.type === 'round'">
              <el-form-item label="返程日期" prop="back_date">
                <el-col :span="18">
                  <el-date-picker
                    v-model="formData.back_date"
                    type="date"
                    placeholder="请选择"
                    :disabled-date="disabledDate"
                    value-format="YYYY-MM-DD"
                    style="width: 100%"
                  />
                </el-col>
                <el-col :span="6">
                  <el-button type="primary" text @click="quickSelect90Days">点此选择90天</el-button>
                </el-col>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item>
            <el-button type="primary" @click="submitForm(formRef)">
              生成
            </el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>

    <script src="./data.js"></script>
    <script src="./routes.js"></script>
    <script>
      const { createApp, ref, reactive } = Vue;
      const app = createApp({
        setup() {
          const formRef = ref();

          const formData = reactive({
            name: "",
            passport_number: "",
            route: "",
            type: "",
            departure_date: "",
            back_date: "",
          });

          const rules = reactive({
            name: [{ required: true, message: "请输入", trigger: "submit" }],
            route: [{ required: true, message: "请选择", trigger: "change" }],
            type: [{ required: true, message: "请选择", trigger: "change" }],
            departure_date: [
              {
                type: "date",
                required: true,
                message: "请选择",
                trigger: "change",
              },
            ],
            back_date: [
              {
                type: "date",
                required: true,
                message: "请选择",
                trigger: "change",
              },
            ],
          });

          const disabledDate = (time) => {
            return time.getTime() < Date.now();
          };

          const quickSelect90Days = () => {
            if (!formData.departure_date) {
              alert("请先选择出发日期");
              return;
            }
            formData.back_date = dayjs(formData.departure_date).add(89, "day").format("YYYY-MM-DD");
          }

          const submitForm = async (formEl) => {
            if (!formEl) return;
            await formEl.validate((valid, fields) => {
              if (valid) {
                console.log("submit!", formData);
                const searchParams = new URLSearchParams(formData);
                if (formData.passport_number) {
                  window.open(
                    `./flight-ticket-iata.html?${searchParams.toString()}`,
                    "_blank"
                  );
                } else {
                  window.open(
                    `./flight-ticket.html?${searchParams.toString()}`,
                    "_blank"
                  );
                }
              } else {
                console.log("error submit!", fields);
              }
            });
          };

          return {
            formRef,
            formData,
            submitForm,
            rules,
            disabledDate,
            quickSelect90Days,
            ROUTES,
          };
        },
      });
      app.use(ElementPlus, {
        locale: ElementPlusLocaleZhCn,
      });
      app.mount("#root");
    </script>
  </body>
</html>
